#firstRow{
    width: 100%;
    height: 150px;
}

.blockRow1{
    width: 25%;
    height: 100%;
    float: left;
}

#row1Block1{
    background-color: rgb(22, 180, 22);
}

#row1Block2{
    background-color: magenta;
}

#row1Block3{
    background-color: yellow;
}

#row1Block4{
    background-color: rgb(30, 30, 250);
}

#secondRow{
    width: 100%;
    height: 150px;
}

.blockRow2{
    width: 33.33%;
    height: 100%;
    float: left;
}

#row2Block1{
    background-color: white;
}

#row2Block2{
    background-color: rgb(65, 230, 175);
}

#row2Block3{
    background-color: rgb(153, 151, 151);
}

#thirdRow{
    width: 100%;
    height: 150px;
}

.blockRow3{
    width: 50%;
    height: 100%;
    float: left;
}

#row3Block1{
    background-color: gray;
}

#row3Block2{
    background-color: green;
}

#forthRow{
    width: 100%;
    height: 150px;
    float: left;
}

.blockRow4{
    height: 100%;
    background-color: blue;
}
